@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --white: #ffffff;
  --red: #ae4e4e;
  --lightgrey: #d9d9d9;
  --black: #110707;
  --inter: "Inter", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background-color: var(--red);
  font-family: var(--inter);
  color: var(--white);
}

main {
  background: linear-gradient(to bottom, #ae4e4e, #110707);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
}

h2 {
  margin-top: 42%;
  text-align: center;
  font-size: 1.2em;
}

.navBall {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: var(--lightgrey);
}

.navLink {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
}

.navLink:hover {
  text-decoration: underline;
}

.searchBar-desktop {
  border-radius: 10px;
  padding: 0.2% 1% 0.2% 1%;
  border: none;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.heroContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.heroImage {
  max-width: 100%;
}

.heroThumb,
.heroImage,
.heroArrowRight,
.heroArrowLeft,
.heroTextBox {
  width: 100%;
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
}

.heroArrowRight {
  width: 32px;
  margin-top: 18%;
  left: 94%;
}

.heroArrowLeft {
  width: 32px;
  margin-top: 18%;
  left: 6%;
}

.heroThumb {
  width: 20%;
  top: 2.5em;
  left: 1.5em;
}

.heroTextBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-top: 17%;
  left: 70%;
}

.btn {
  background-color: var(--red);
  border: none;
  border-radius: 20px;
  padding: 2.5% 10% 2.5% 10%;
  font-family: var(--inter);
  color: var(--white);
  font-size: 1em;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
}

.readMoreForm {
  width: 9em;
}

.threeMoviePosters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.moviePosterDiv {
  width: 25%;
  height: auto;
}

.moviePoster {
  max-width: 100%;
}

.newsletter {
  display: flex;
  flex-direction: column;
  margin-left: 12%;
  padding-bottom: 10%;
  gap: 10px;
  width: 20%;
}

.newsletterBar {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.actorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  gap: 10px;
}

.actorDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1% 1% 4% 1%;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: var(--red);
}

.actorPortrait {
  padding: 10px;
}

.actorTextBox {
  margin-left: 10px;
  width: 60%;
}

.dividerLine {
  width: 100%;
  height: 2px;
  margin-bottom: 3%;
  background-color: var(--red);
}

.contactInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 20%;
  margin-left: 4%;
}

/* <-----------------------------------Below is styling for godfather.html----------------------------------------> */

.aboutMovieContainer {
  margin-top: 45%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  gap: 15px;
  display: flex;
  flex-direction: row;
}

.largePoster {
  max-width: 100%;
  width: 45%;
}

.aboutTextDiv {
  text-align: center;
}

.screenshotCarousel {
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
}

.bottomSlideImage {
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
}

/* ----------------Slides control for Hero slide------------- */

/* ----------------Slides control for bottom slide------------- */

.newSlideContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mySlides {
  display: none;
}

.arrow {
  cursor: pointer;
  height: fit-content;
  padding: 0.7em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.2em;
  transition: 0.6s ease;
}

.previous {
  margin-right: 0.2em;
}

.next {
  margin-left: 0.2em;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.hamburger-menu {
  display: none;
}
.sidebar {
  display: none;
}
.searchBar-mobile {
  display: none;
}

@media (max-width: 768px) {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  .linkContainer {
    display: none;
  }
  .searchBar-desktop {
    display: none;
  }

  .searchBar-mobile {
    display: block;
    border-radius: 10px;
    padding: 0.2% 1% 0.2% 1%;
    border: none;
  }

  a {
    text-decoration: none;
    color: var(--white);
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
    top: 0px;
    background-color: transparent;
  }
  :root {
    --bar-width: 32px;
    --bar-height: 5px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --x-width: calc(var(--hamburger-height) * 1.2);
  }

  .hamburger-menu {
    margin-left: 12px;
  }
  .sidebar nav div {
    margin-top: 24px;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
  }

  .hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rot ate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 2 calc(var(--bar-height) / 3);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 2 calc(var(--bar-height) / -3);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    transition: transform var(--animation-timing);
    transform: translateX(100%);
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 211px;
    min-height: 376px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .hamburger-menu:has(input:checked) + .sidebar {
    transform: translateX(0);
  }
  nav {
    display: flex;
    flex-direction: column;
  }

  .heroContainer {
    width: 100vw;
  }

  .heroImage {
    max-width: 100%;
  }
  .heroThumb {
    display: block;
    max-width: 200px;
    height: auto;
    margin-bottom: 1rem;
  }

  .actorContainer {
    overflow: hidden;
  }
}
